/* Variables */
:root {
  --contacts-text-color: #757575;
  --section1-footer-background-color: #2f303a;
  --buttons-portfolio-section4-background-color: #f5f4fa;
  --buttons-portfolio-text-titles-color: #212121;
  --button-order-primary-color: #ffffff;
  --button-order-background-hover-focus-color: #2196f3;
}
/* fonts */
body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}
.logo {
  font-family: "Raleway", cursive;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: #ffffff;
}
.header .accent {
  color: #2196f3;
}
.header .logo {
  color: #000000;
}
.footer .accent {
  color: #2196f3;
}
/* header colors, fonts */
.header,
.our-skills {
  background-color: var(--button-order-primary-color);
}
.header-nav {
  color: var(--buttons-portfolio-text-titles-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.header-nav:hover,
.header-nav:focus {
  color: var(--button-order-background-hover-focus-color);
}
.header-contact {
  color: var(--contacts-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.header-contact:hover,
.header-contact:focus {
  color: var(--button-order-background-hover-focus-color);
}
/* section 1 colors, fonts */
.hero {
  background-color: var(--section1-footer-background-color);
}
.hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/* Section 2, titles - colors, fonts*/
h3,
h2 {
  color: var(--buttons-portfolio-text-titles-color);
}
.details-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
p.details-text {
  color: var(--contacts-text-color);
  font-size: 14px;
  line-height: 1.7;
}
.second-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}
/* section 4 */
.team {
  background-color: var(--buttons-portfolio-section4-background-color);
}
.team-names {
  font-style: 400;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}
p.team-professions {
  color: var(--contacts-text-color);
  font-size: 16px;
  line-height: 1.2;
}
/* footer */
footer {
  background-color: var(--section1-footer-background-color);
}
.adress {
  font-size: 14px;
  line-height: 1.71;
}
.map {
  text-decoration: none;
  color: #ffffff;
}
.footer-contact {
  color: #ffffff99;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
}
/* buttons */
button.order {
  color: var(--button-order-primary-color);
  background-color: var(--button-order-background-hover-focus-color);
}
.buttons-portfolio {
  background-color: var(--buttons-portfolio-section4-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}
button {
  font-weight: bold;
  color: var(--buttons-portfolio-text-titles-color);
  cursor: pointer;
}
.buttons-portfolio:hover,
.buttons-portfolio:focus {
  background-color: var(--button-order-background-hover-focus-color);
  color: var(--button-order-primary-color);
}
.list .portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-description {
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}
/* delete list marks */
.list {
  list-style: none;
}
