/* Variables */
:root {
  --contacts-text-color: #757575;
  --section1-footer-background-color: #2f303a;
  --buttons-portfolio-section4-background-color: #f5f4fa;
  --buttons-portfolio-text-titles-color: #212121;
  --button-order-primary-color: #ffffff;
  --button-order-background-hover-focus-color: #2196f3;
}
/* delete list marks */
.list,
.list-footer {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* fonts */
body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;

  margin-top: 0;
  margin-bottom: 0;
}
.header {
  width: 1200px;
  margin: 0 auto;
}
.logo {
  font-family: "Raleway", cursive;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: #ffffff;

  display: inline-block;
}
.header .accent {
  color: #2196f3;
}
.header .logo {
  color: #000000;
  margin-right: 93px;

  margin-top: 0;
  margin-bottom: 0;
  padding-top: 24px;
  padding-bottom: 25px;
}
.header-list {
  display: flex;
}
.header-item:not(:last-child) {
  margin-right: 50px;
}
.footer .accent {
  color: #2196f3;
}
/* header colors, fonts */
.header,
.our-skills {
  background-color: var(--button-order-primary-color);
}
.header-nav {
  color: var(--buttons-portfolio-text-titles-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  margin-top: 0;
  margin-bottom: 0;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}
.header-nav:hover,
.header-nav:focus {
  color: var(--button-order-background-hover-focus-color);
}
.header-contact > a {
  color: var(--contacts-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-contact + .header-contact {
  margin-left: 50px;
}
.header-contact > a:hover,
.header-contact > a:focus {
  color: var(--button-order-background-hover-focus-color);
}
.contacts {
  display: flex;
  justify-content: end;
}
.line {
  display: flex;
  align-items: center;
}
/* section 1 colors, fonts */
.hero {
  background-color: var(--section1-footer-background-color);
  text-align: center;
}
.details {
  padding-top: 94px;
  padding-bottom: 94px;
}
.hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin: 0 auto 30px;
  padding-top: 200px;
  padding-right: 452px;
  padding-left: 452px;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 1px solid orange; */
}
/* Section 2, titles - colors, fonts*/
h3,
h2 {
  color: var(--buttons-portfolio-text-titles-color);
}
.details-list {
  width: 270px;
  margin-right: 30px;
}
.details-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-bottom: 10px;
  margin-top: 0;
}
p.details-text {
  color: var(--contacts-text-color);
  font-size: 14px;
  line-height: 1.7;
  margin-top: 0;
}
.skills-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;

  margin-top: 0;
  margin-bottom: 50px;
}
.skills-images {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 50px;
  padding-bottom: 94px;
  width: 370px;
  margin-right: 30px;
}
/* section 4 */
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;

  padding-top: 94px;
  padding-bottom: 50px;
  margin: 0 auto;
}
.team {
  background-color: var(--buttons-portfolio-section4-background-color);
}
.team-list {
  width: 270px;
  margin-right: 30px;
}
.team-names {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;

  padding-bottom: 0;
  padding-top: 30px;
  margin-bottom: 0;
  margin-top: 0;
}
p.team-professions {
  color: var(--contacts-text-color);
  font-size: 16px;
  line-height: 1.2;

  margin-top: 0;
  margin-bottom: 124px;
  padding-bottom: 30px;
  padding-top: 10px;
}
/* footer */
footer {
  background-color: var(--section1-footer-background-color);
}
footer .logo {
  margin-top: 60px;
  margin-bottom: 20px;
}
.adress {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;

  margin-top: 0;
  margin-bottom: 9px;
}
.map {
  text-decoration: none;
  color: #ffffff;
}
.footer-contact {
  color: #ffffff99;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;

  display: inline-block;
}
.footer-contact.tel {
  margin-top: 0;
  margin-bottom: 9px;
}
.footer-contact.mail {
  margin-top: 0;
  margin-bottom: 60px;
}
/* buttons */
.buttons-portfolio {
  background-color: var(--buttons-portfolio-section4-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border-radius: 4px;

  padding: 6px 22px;
  min-width: 73px;
}
.pb-list {
  margin-right: 8px;
  margin-top: 94px;
  margin-bottom: 50px;
}
.center {
  display: flex;
  justify-content: center;
}
button {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: var(--buttons-portfolio-text-titles-color);
  cursor: pointer;

  display: inline-block;
  text-align: center;
  border: 1px solid transparent;
}
button.order {
  color: var(--button-order-primary-color);
  background-color: var(--button-order-background-hover-focus-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;

  padding: 10px 32px;
  min-width: 200px;
  margin-top: 0;
  margin-bottom: 200px;
}
.buttons-portfolio:hover,
.buttons-portfolio:focus {
  background-color: var(--button-order-background-hover-focus-color);
  color: var(--button-order-primary-color);
}
.list .portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 4px;
  text-align: start;

  margin-top: 0;
  margin-bottom: 0;
}
.portfolio-description {
  font-size: 16px;
  line-height: 1.87;
  color: #757575;

  text-align: start;
  padding-top: 0;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;

  margin-top: 0;
  margin-bottom: 0;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
}
.portfolio .element {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 50px;
  /* padding-bottom: 20px; */
  border: 1px solid #eeeeee;
}
.flex-container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.list {
  display: flex;
  align-items: baseline;
  /* justify-content: space-between; */
  text-align: center;
}
/* Space between list */
.details-list:last-child {
  margin-right: 0;
}
.skills-images:last-child,
.team-list:last-child,
.portfolio .element:nth-child(3n) {
  margin-right: 0;
}
.portfolio .element:nth-last-child(-n + 3) {
  margin-bottom: 114px;
}
.pb-list:nth-child(5n) {
  margin-right: 0;
}
header .list {
  text-align: right;
  justify-content: flex-end;
  text-decoration: none;
}
